/* Overall styling */
body {
    background-color: #ffdac6;
    margin: 6px;
    padding: 10px;
}

header {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 30px;
    background-color: #7C6A0A;
    color: #ffdac6;
    text-align: center;
    padding: 10px;
}

nav ul {
    font-family: 'Crimson Text', regular;
    font-size: 20px;
    background-color: #7C6A0A;
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
    color: #BABD8D;
}

nav ul li a {
    color: #FFF;
    text-decoration: none;
    padding: 5px 10px;
    background-color: #BABD8D;
    border-radius: 5px;
}

/* Using class selector */
h2 {
    font-family: 'Crimson Text', regular;
    color: #000000
}

p {
    font-family: 'Sarabun', regular;
    color: #000000
}

.description {
    font-family: 'Sarabun', regular;
    font-size: 18px;
    color: #BABD8D;
}

.list-header {
    font-family: 'Crimson Text', regular;
    font-size: 19px;
    color: #EB6424
}

.list-description {
    font-family: 'Sarabun', regular;
    font-size: 18px;
}

.gallery-text {
    text-align: center;
    font-family: 'Sarabun', regular;
    font-size: 18px;
}

/* Using ID selector */

#header2 {
text-align: center;
font-size: 20px;
}

#header3 {
    text-align: center;
    font-size: 20px;
    }

#image-container {
    text-align: center;
    }

#image-container1 {
    text-align: center;
    }

#footer {
    background-color: #EB6424;
    color: #fff;
    text-align: center;
    padding: 0px;
    bottom: 0px;
    width: 100%;
}

nav ul li a:hover {
    background-color: #EB6424;
}
 