/* Overall styling */
body {
    font-family: Arial, sans-serif;
    background-color: #ffdac6;
    margin: 6px;
    padding: 20;
}

header {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 30px;
    background-color: #7C6A0A;
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav ul {
    font-family: 'Crimson Text', regular;
    font-size: 20px;
    background-color: #7C6A0A;
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
    color: #BABD8D;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    background-color: #555;
    border-radius: 5px;
}

/* Using class selector */
h2 {
    font-family: 'Crimson Text', regular;
    color: #000000
}

p {
    font-family: 'Sarabun', regular;
    color: #000000
}

.homepageimage {
text-align: center;
}

.description {
    font-family: 'Sarabun', regular;
    font-size: 16px;
    color: #BABD8D;
}

/* Using ID selector */
#footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

nav ul li a:hover {
    background-color: #777;
}
 